:root {
    --abu: #1A2647;
    --bg:   #fdfdfd ;
    --shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
  }
  
  
  body {
    font-size: 1.2rem;
    font-family: "Lexend Deca", sans-serif;
    /* min-height: 5000px; */
    background-color: var(--bg);
    color: rgb(145, 110, 110);
  }

  /* Hero */
.hero {
    text-align: center;
    min-height: 100vh;
    position: relative;
    background-color:   white;
    ;
  }
  
  
  .hero h1 {
    font-family:'Crimson Text';
    font-size: 4rem;
    z-index: 1;
  }
  
  .hero a {
    margin-top: 4px;
    color:#e4d198;
    background-color: rgb(145, 110, 110);
    font-family: 'Crimson Text' ;
    box-shadow: var(--shadow) ;
    z-index: 1;
  }
  
  .hero a:hover {
    background-color: beige;
    color:black;
    z-index: 1;
  }