:root {
  --abu: #1A2647;
  --bg:   #fdfdfd ;
  --shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
}


body {
  font-size: 1.2rem;
  font-family: "Lexend Deca", sans-serif;
  /* min-height: 5000px; */
  background-color: var(--bg);
  color: rgb(145, 110, 110);
}

/* Hero */
.hero {
  text-align: center;
  min-height: 100vh;
  position: relative;
  background-color:   white;
  ;
}


.hero h1 {
  font-family:'Crimson Text';
  font-size: 4rem;
  z-index: 1;
}

.hero button {
  margin-top: 4px;
  color:#e4d198;
  background-color: rgb(145, 110, 110);
  font-family: 'Crimson Text' ;
  box-shadow: var(--shadow) ;
  z-index: 1;
}

.hero button:hover {
  background-color: beige;
  color:black;
  z-index: 1;
}

/* Navbar */
.mynavbar {
  background-color: rgba(48, 0, 0, 0.5) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas{
  background-color:  rgb(145, 110, 110)  ;
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  /* font-family: "Noto Serif", serif; */
  font-family:'Crimson Text';
  font-size: 2.2rem;
  color: beige;
}

.mynavbar .nav-link  {
  color: #fffefb;
  font-size: 1rem;
  font-family:'Crimson Text'
}

/* Home */
.couple img {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.2rem;
  box-shadow: var(--shadow);
}

.home {
  /* background-image: url(img/R.jpeg); */
  background-color: rgb(145, 110, 110) ;
  background-size: cover;
  min-height: 100vh;
  padding-top: 7rem;
  font-size: 1rem;
}

.home h2 {
  font-family:'Crimson Text';
  font-size: 3rem;
  color: #e4d198;
}

.home p {
  color: silver;
}
.home h4 {
  font-family:'Crimson Text';
  font-size: 2rem;
}

/* Info */
.info {
  padding: 80px 0;
  background-color: var(--bg);
}
.info h2{
  font-family:'Crimson Text';
}
.info .alamat {
  font-size: 18px;
  color: beige;
}
.info .btn-bd-primary {
  margin-top: 4px;
  color:black;
  background-color: silver;
  font-family: 'Crimson Text' ;
  box-shadow: var(--shadow) ;
  z-index: 1;
}
.info .btn-bd-primary:hover {
  background-color: rgb(43, 26, 26);
  color:silver;
  z-index: 1;
}
.info .description {
  color: rgb(145, 110, 110);
}
.card {
  background-color: #e4d198;
  border: 1px solid silver;
  box-shadow: var(--shadow);
}
.card-header {
  background-color: rgba(0, 0, 0, 0.171);
  color: rgb(145, 110, 110);
  font-weight: bold;
}


/*RSVP*/
.rsvp {
  background-color: rgb(145, 110, 110);
  border-radius: 20px;
  background-color: #e4d198;
  color: rgb(145, 110, 110);
  padding: 5px;
  margin: 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rsvp .container {
  margin: 10px;
  padding: 10px;
}
.rsvp h3 {
  color: beige;
  text-align: center ;
  margin-top: 70px;
  font-family: 'Crimson Text';
}
.rsvp input[type=text], [type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #2b4f70;
  border-radius: 20px;
  box-sizing: border-box;
}

.rsvp input[type=submit],[type=reset] {
  width: 30%;
  background-color: rgb(145, 110, 110);
  color: beige;
  padding: 10px 12px;
  margin: 10px 35%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Crimson Text';
}

.rsvp [type=submit]:hover,[type=reset]:hover {
  background-color: rgb(145, 110, 110);

}


/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown>.simply-section{
    padding: 36px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown>.simply-section{
    padding: 30px;
    margin: 5px;
  }
  .mynavbar .navbar-nav {
    font-size: 1.8rem;
    text-align: center;
    
  }
  iframe {
    width: 80%;
    height: 80%
  }
  .info .alamat {
  padding-top: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  h1{
    font-size: 60%;
 }
  .simply-countdown>.simply-section {
    padding: 25px;
    margin: 3px;
  .simply-word {
    font-size: 15px;
  }
  }
}
